body {
    background-color: bisque;
}

.title {
    font-weight: 650;
    padding: .5%;
    text-decoration: underline;
}

.container-1 , .container-2, .container-3 {
    border: 3px solid black;
    border-radius: 5px;
    margin: 15px auto;
    padding: 5px;
    width: 75%;
}

.container-1 h2 {
    padding: 7px;
    background-color: orange;
    border-radius: 10px;
    color: white;
}

.flex-box-container-1, .flex-box-container-2, .flex-box-container-3 {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.challenge-desc {
    width: 100%;
    text-align: center;
}

.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    align-items: center;
}

.flex-box-container-1 img {
    max-width: 100%;
}

.img-container div {
    flex: 1;
}

.flex-box-container-1 label {
    width: auto;
    font-weight: 700;
    padding: 5px;
}

#input-container {
    display: flex;
    flex-wrap: wrap;
}

#invalid-warning {
    color: red;
    font-weight: 400;
}

#stringOfNums {
    max-width: 200px;
    width: 100%;
}

.container-2 h2 {
    padding: 7px;
    background-color: orangered;
    border-radius: 10px;
    color: white;
}

#cat-btn-box {
    align-items: center;
}

#cat-clear-btn {
    max-width: 20%;
    min-width: 10px;
}

.container-2 button {
    margin: 10px;
}

.flex-box-container-2 img {
    justify-content: space-around;
    box-shadow: 5px 10px 30px black;
    margin: 10px;
    max-width: 12%;
    min-width: 120px;
    border-radius: 5px;
}

.container-3 h2 {
    padding: 7px;
    background-color: red;
    border-radius: 10px;
    color: white;
    text-align: center;
}

#typesymbol img {
    max-width: 100%;
    min-width: 50px;
    padding: 5px;
}

#typesymbol img:hover {
    -webkit-filter: drop-shadow( 0px 10px 35px blue);
    filter: drop-shadow( 0px 10px 35px blue);
}